$color-brand: #0fb9b1;
$color-brand-light: #4bcbc5;
$color-brand-dark: #0c948e;
@import "~taro-ui/dist/style/index.scss";

$theme-error: #eb3b5a;
$theme-waring: #fa8231;
$theme-yellow: #f7b731;
$theme-green: #20bf6b;
$theme-blue: #2d98da;
$theme-gray: #a5b1c2;
$theme-grey: #e5e5e5; // 浅灰
$theme-black: #333333;
