@import "./assets/style/mixin.scss";

view {
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 24px;
    color: $theme-black;
}

.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mtb15 {
    margin: 15px 0 !important;
}
.ptb10 {
    padding: 10px 0 !important;
}
.plr10 {
    padding: 0 10px !important;
}
.ptb15 {
    padding: 15px 0 !important;
}
.plr15 {
    padding: 0 15px !important;
}
.pall10 {
    padding: 10px !important;
}
.pall15 {
    padding: 15px !important;
}
.pall20 {
    padding: 20px !important;
}

.primary {
    color: $color-brand !important;
}
.error {
    color: $theme-error !important;
}
.waring {
    color: $theme-waring !important;
}
.yellow {
    color: $theme-yellow !important;
}
.green {
    color: $theme-green !important;
}
.blue {
    color: $theme-blue !important;
}
.gray {
    color: $theme-gray !important;
}
.black {
    color: $theme-black !important;
}

.cursor {
    cursor: pointer !important;
}
.break {
    word-break: break-all !important;
    word-wrap: break-word !important;
}

// 字体大小
.font-big {
    font-size: 40px !important;
}
.font-medium {
    font-size: 36px !important;
}
.font-small {
    font-size: 30px !important;
}
.font-mini {
    font-size: 20px !important;
}

// 字体加粗
.font-bold {
    font-weight: 600 !important;
}
.font-bold-max {
    font-weight: 900 !important;
}

//单行省略...
.single-ellipsis {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.flex {
    display: flex !important;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
/*      项目在 X  轴的【排列】方向    */
.flex-row {
    flex-direction: row; /* 主轴为水平方向，起点在左端   */
}
.flex-row-reverse {
    flex-direction: row-reverse; /* 主轴为水平方向，起点在右端   */
}

/*     在 X 轴上的【对齐】方式        */
.justify-start {
    justify-content: flex-start; /*  默认：左对齐  */
}
.justify-center {
    justify-content: center; /* 居中  */
}
.justify-between {
    justify-content: space-between; /* 两端对齐，项目之间的间隔都相等    */
}
.justify-around {
    justify-content: space-around; /*   每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍  */
}
.justify-end {
    justify-content: flex-end; /*  右对齐 */
}

/*      在 X 轴 上 【项目换行】 方式      */
.flex-nowrap {
    flex-wrap: nowrap; /*  （默认）：不换行 */
}
.flex-wrap {
    flex-wrap: wrap; /*  换行，第一行在上方 */
}
.flex-reverse {
    flex-wrap: wrap-reverse; /*  换行，第一行在下方*/
}

/*      项目在 Y  轴的【排列】方向    -----------------------------------------------------                */
.flex-column {
    flex-direction: column; /* 主轴为垂直方向，起点在上沿   */
}
.flex-column-reverse {
    flex-direction: column-reverse; /* 主轴为垂直方向，起点在下沿  */
}
/*    -----  属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性    -----     */
.align-start {
    align-self: flex-start; /* 主轴为垂直方向，起点在上沿   */
}
.align-end {
    align-self: flex-end; /* 主轴为垂直方向，起点在下沿   */
}

/*      在 Y 轴 上 【对齐】 方式      */
.align-items-start {
    align-items: flex-start; /*   Y轴的起点对齐  */
}
.align-items-end {
    align-items: flex-end; /*   Y轴的终点对齐  */
}
.align-items-center {
    align-items: center; /*   Y轴的中点对齐  */
}
.align-items-baseline {
    align-items: baseline; /*   Y轴的项目的第一行文字的基线对齐  */
}
.align-items-stretch {
    align-items: stretch; /*   Y轴如果项目未设置高度或设为auto，将占满整个容器的高度 */
}

// 全局样式
// modal
.custom-modal {
    .modal-content {
        padding: 20px;
    }
    .modal-action {
        display: flex;
        text-align: center;
        border-top: 1px solid $theme-grey;
        .action-item {
            flex: 1;
            padding: 30px 0;
        }
        .action-item:not(:last-child) {
            border-right: 1px solid $theme-grey;
        }
    }
}
